
<h2>This is your first page...</h2>

<div class='caption'>Example static-ish document</div>
<pre>title: Article Title
published_at: 2009-12-11T14:50
author: Jason Frame

--- html

&lt;h1&gt;Welcome!&lt;/h1&gt;

&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit
  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia
  deserunt mollit anim id est laborum.&lt;/p&gt;
  
--- code language: javascript caption: "Top Secret Codez"

var foo = document.createElement('script');
foo.type = 'text/javascript';
foo.src = 'http://example.com/somescript.js';
foo.onload = function() {
  getToWork();
}
document.body.appendChild(foo);

--- pagebreak

--- html

&lt;h2&gt;How it works...&lt;/h2&gt;

&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit
  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
  occaecat cupidatat non proident, sunt in culpa qui officia
  deserunt mollit anim id est laborum.&lt;/p&gt; 
  
</pre>



